.toast-animation-slideIn {
    animation-duration: 2s;
    animation-name: slideIn;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(100%);
    }
}